[Desktop Entry]
Encoding=UTF-8
Version=0.2.1
Type=Application
Name=CloudGPS
Exec=/opt/cloudgps/cloudgps
Icon=cloudgps
X-Window-Icon=cloudgps
X-Window-Icon-Dimmed=cloudgps